@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .form-control {
    @apply focus:gradient mb-[8px] mt-2 rounded-lg  border border-grey pb-3 pl-4 pr-4 pt-4 transition-all focus:outline-none;
  }
  .form-control::placeholder {
    @apply text-base text-deepGrey md:text-lg;
  }

  .label {
    @apply text-xs uppercase tracking-[.125em] text-violet md:text-sm;
  }

  .error-msg {
    @apply mb-[18px] whitespace-normal pt-0 text-xs capitalize tracking-normal text-red-500;
  }
}

@layer utilities {
  .gradient {
    border: solid 1px transparent;
    border-radius: 8px;
    background-image: linear-gradient(white, white),
      linear-gradient(to right, #6348fe, #610595);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
}
