@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .form-control {
    @apply mb-[18px] mt-2 rounded-lg border  border-grey pb-3 pl-4 pr-4 pt-4;
  }
  .form-control::placeholder {
    @apply text-lg text-deepGrey;
  }

  .label {
    @apply text-xs uppercase tracking-[.125em] text-violet md:text-sm;
  }
}
