@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .form-control {
    @apply border border-grey rounded-lg pt-4  pb-3 pl-4 mb-[18px] mt-2;
  }
  .form-control::placeholder {
    @apply text-deepGrey text-lg;
  }

  .label {
    @apply text-xs md:text-sm tracking-[.125em] text-violet uppercase;
  }
}
